* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.section-heading{
    padding-right: 80px;
    
}

.product img {
    width: 100%;
    max-width: 180px;
    height: auto;
}



.product-section{
    margin-top: 10px;
}

.plus-btn:hover {
    transform: scale(1.2);
    align-items: center;
    justify-content: center;
    
    
}


