* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.section-heading{
    padding-right: 80px;
    
}

.product img {
    width: 100%;
    max-width: 180px;
    height: auto;
}



.product-section{
    padding: 25px 0 25px 0;
    background-color: #F0F8FF;
}

.plus-btn:hover {
    transform: scale(1.2);
    align-items: center;
    justify-content: center;
    
    
}

.prod-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 20px black;
}

.why-choose-us{
    background-color:#FFF8DC ;
}

.truck{
    font-size: 30px;
}

.we-help-you{
    background-color:whitesmoke;
}

.image-wrapper {
    height: 520px;
    width: 100%;
}

.main-image {
    width: 340px;
    height: 420px;
    object-fit: cover;
}

.small-image-top {
    position: absolute;
    top: 0;
    right: 20px;

    width: 150px;
    height: 150px;
    object-fit: cover;
}

.small-image-bottom {
    position: absolute;
    bottom: 0;
    right: 20px;

    width: 265px;
    height: 320px;
    object-fit: cover;
}

.testimonials{
    background-color: #F0F8FF;

}

.recent-blog{
    background-color: #FFF8DC;
}




